:root {
    --LeadingHeight: 3rem;
    --FooterHeight: 3rem;
    --DefPadding: 1rem;
    --Fonts: helvetica, sans-serif
}

body {
    margin: 0;
    padding: 0;
    font-family: var(--Fonts);
}

.content {
    z-index: 10;
    position: static;
    margin-top=100px;
    width=100%;
    display: flex;
    flex-flow: column;
}

header.page {
    padding: var(--DefPadding);
    background: #cba;
}

main.page {
    padding: var(--DefPadding);
    background: #bca;
}

footer.page {
    padding: var(--DefPadding);
    background: #abc;
    flex: 0 0 var(--FooterHeight);
}

#leading-spacer {
    flex: 0 0 calc(var(--LeadingHeight) + var(--DefPadding) + 15px);
}

header.leading {
    z-index: 20;
    position: fixed;
    width: 100%;
    height: var(--LeadingHeight);
    padding: var(--DefPadding);
    top: 0;
    background: #aef;
}

aside {
    padding: var(--DefPadding);
    position: fixed;
    z-index: 30;
    top: 0;
    height: 100vh;
    flex: 0 0 10rem;
    display: none;
}

aside.right {
    right:0;
    background:#0f0;
}

aside.left {
    left:0;
    background:#f00;
}

h1 {
    font-weight:normal;
    border-bottom:1px solid #bbb;
    padding:0 0 10px 0;
}

h2 {
    font-weight:normal;
    margin:30px 0 0;
}

p.price {
    color:#c00;
    font-family: georgia, serif;
    font-size: 14px;
    font-style: italic; 
}

p.description {
    color:#ccc;
    font-family: georgia, serif;
    font-size: 12px;
    font-style: italic;
}

p.product_color {
    color:#00c;
    font-family: georgia, serif;
    font-size: 12px;
    font-style: italic;
}

