:root {
    --LeadingHeight: 3rem;
    --FooterHeight: 3rem;
    --DefPadding: 1em;
    --Fonts: 'URW Gothic', helvetica, sans-serif;
    --ZixContent: 10;
    --ZixLeading: 20;
    --ZixPanels: 30;
    --ZixTop: 40;
}

body, aside, .content, .leading {
    margin: 0;
    padding: 0;
    font-family: var(--Fonts);
}

.content {
    z-index: var(--ZixContent);
    position: static;
    left: 0;
    right: 0;
    display: flex;
    flex-flow: column;
}

header.leading {
    z-index: var(--ZixLeading);
    position: fixed;
    height: var(--LeadingHeight);
    top: 0;
    left: 0;
    right: 0;
    padding: var(--DefPadding);
    background: white;
}

#leading-spacer {
    flex: 0 0 calc(var(--LeadingHeight) + var(--DefPadding) + 15px);
    padding: 0;
    margin: 0;
}

.leading > nav {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.leading > nav > a {
    margin-left: 1rem;
    margin-right: 1rem;
    text-decoration: none;
    text-transform: uppercase;
    color: black;
}

.leading > nav > a.logo {
    margin-right: auto;
}

.leading > nav > a > img {
    height: 3rem;
}

header.page {
    background: #cba;
}

main.page {
    background: #bca;
}

footer.page {
    background: #abc;
    flex: 0 0 var(--FooterHeight);
}

aside {
    z-index: var(--ZixPanels);
    position: fixed;
    top: 0;
    height: 100vh;
    flex: 0 0 10rem;
    display: none;
}

aside.right {
    right:0;
    background:#0f0;
}

aside.left {
    left:0;
    background:#f00;
}

h1 {
    font-weight:normal;
    border-bottom:1px solid #bbb;
    padding:0 0 10px 0;
}

h2 {
    font-weight:normal;
    margin:30px 0 0;
}

p.price {
    color:#c00;
    font-family: georgia, serif;
    font-size: 14px;
    font-style: italic; 
}

p.description {
    color:#ccc;
    font-family: georgia, serif;
    font-size: 12px;
    font-style: italic;
}

p.product_color {
    color:#00c;
    font-family: georgia, serif;
    font-size: 12px;
    font-style: italic;
}

img.bkg {
    width: 100%;
}