:root {
    --LeadingHeight: 3rem;
    --FooterHeight: 3rem;
    --DefPadding: 1em;
    --Fonts: 'URW Gothic', helvetica, sans-serif;
    --ZixContent: 10;
    --ZixLeading: 20;
    --ZixPanels: 30;
    --ZixTop: 40;
    --CatItemWidth: 17rem;
    --ScartFigWidth: 7rem;
    --HeartSize: 1.6rem;
    --Gap: var(--DefPadding);
    --NarrowPageWidth: 60rem;
}

* {
    outline: 0;
    -webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

body, aside, .content, .leading {
    margin: 0;
    padding: 0;
    font-family: var(--Fonts);
}

.content {
    position: static;
    left: 0;
    right: 0;
    display: flex;
    flex-flow: column;
    z-index: var(--ZixContent);
}

/* Лидинг -------------------------------------------------------------------------------------------------------------- */

.leading {
    position: fixed;
    height: var(--LeadingHeight);
    max-height: var(--LeadingHeight);
    min-height: var(--LeadingHeight);
    top: 0;
    left: 0;
    right: 0;
    padding: var(--DefPadding);
    background: white;
    z-index: var(--ZixLeading);
}

#leading-spacer {
    flex: 0 0 calc(var(--LeadingHeight) + var(--DefPadding) + 15px);
    padding: 0;
    margin: 0;
}

.leading > nav {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.leading > nav > a {
    margin-left: 1rem;
    margin-right: 1rem;
    text-decoration: none;
    text-transform: uppercase;
    color: black;
}

.leading > nav > a.logo {
    margin-right: auto;
}

.leading > nav > a > img, a.logo > img {
    height: calc(var(--LeadingHeight) * 0.95);
}

/* Контент ------------------------------------------------------------------------------------------------------------- */

header.page {
   /* background: #cba;*/
}

main.page {
    /*background: #bca;*/
    padding: var(--DefPadding)
}

footer.page {
    /*background: #abc;*/
    border-top:1px solid black;
    flex: 0 0 var(--FooterHeight);
    padding: var(--DefPadding)
}

.std-footer {
    padding: var(--DefPadding);
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: auto 7rem 7rem 7rem 7rem;
    grid-template-areas:
        "A B B C C"
        "D D D D D";
}

[class^='std-footer-item'] {
    display: flex;
    flex-flow: column;
}

[class^='std-footer-item'] > * {
    text-decoration: none;
    color: black;
}

.std-footer-item-1 {
    grid-area: A;
}

.std-footer-item-2 {
    grid-area: B;
}

.std-footer-item-3 {
    grid-area: C;
}

.std-footer-item-4 {
    grid-area: D;
    flex-flow: row;
    justify-content: space-between;
    place-items: center;
    margin-top: 1rem;
}

/* Selector ------------------------------------------------------------------------------------------------------------*/

.with-selector {
    display :flex;
    flex-flow :row;
}

.selector-container {
    margin-left :auto;
    margin-right: 2rem;
}

select, select:focus {
    border: none;
    background :white;
    padding: 1rem;
    font-size: 1.25rem;
    font-family: var(--Fonts);
    /*-moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;*/
}

/* Каталог ------------------------------------------------------------------------------------------------------------- */

.catalogue {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(var(--CatItemWidth), 1fr));
    gap: var(--Gap);
}

.catalogue > * {
   display: flex;
   flex-flow: column;
   place-items: center;
}

.catalogue > * > a {
   display: flex;
   flex-flow: column;
   place-items: center;
}

.catalogue > * > * {
   max-width: calc(var(--CatItemWidth));
   min-width: calc(var(--CatItemWidth));
}

figure {
    margin: 0;
}

figcaption {
    margin-top: 10px;
}

.p-card-a {
    display: flex;
    flex-flow: row;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    max-height: calc(var(--CatItemWidth) * 1.5);
    min-height: calc(var(--CatItemWidth) * 1.5);
    padding: var(--DefPadding)
}

.p-card-a.details {
    max-height: calc(var(--CatItemWidth) * 1.6);
    min-height: calc(var(--CatItemWidth) * 1.6);
    max-width: var(--CatItemWidth);
    min-width: var(--CatItemWidth);
}

.p-card-b {
    display: grid;
    gap: var(--Gap);
    grid-template-columns: auto auto auto;
}

.icon {
    cursor: pointer;
    margin-bottom: 1rem;
}

.heart {
    margin-left: auto;
    max-height: calc(1.2 * var(--HeartSize));
}

.heart > input[type="checkbox"] {
    visibility: hidden;
}

input[type="checkbox"] ~ svg {
    min-height: var(--HeartSize);
    min-width: var(--HeartSize);
    stroke: white;
    cursor: pointer;
}

input[type="checkbox"]:checked ~ svg { fill: white; }

input[type="checkbox"]:not(:checked) ~ svg { fill: none; }

/* Панели --------------------------------------------------------------------------------------------------------------*/

aside {
    position: fixed;
    top: 0;
    height: 100vh;
    width: min(30rem, 40vw);
    visibility: hidden;
    padding: var(--DefPadding);
    box-shadow: 0 0 0 100vw #7777;
    z-index: var(--ZixPanels);
}

aside.right {
    right:0;
    background: white;
}

aside.left {
    left:0;
    background:#f00;
}

.cancel-sidebar {
    font-size: 2rem;
    color: gray;
    position: absolute;
    top: 1.9rem;
    right: 1rem;
    cursor: pointer;
}

.cancel-sidebar:hover {
    color: black;
}

aside h1 {
    border-bottom: thin solid black;
    border-top: none;
}

/* Корзина ------------------------------------------------------------------------------------------------------------- */

.sidebar-fig {
    max-width: var(--ScartFigWidth);
    min-width: var(--ScartFigWidth);
    max-height: var(--ScartFigWidth);
    min-height: var(--ScartFigWidth);
    padding: 0.3rem;
}

.sidebar-fig > .sidebar-img {
    height: 100%;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

*[id $= "-undo-section"] {
    display: none;
}

/* Элементы оформления ------------------------------------------------------------------------------------------------- */

h1 {
    font-weight:normal;
    border-top: 1px solid black;
    padding: 0.5rem 0 0 0;
}

h2 {
    font-weight:normal;
    margin:30px 0 0;
}

h5, h6, small {
    opacity: 0.5;
    margin-block-start: 0.1em;
    margin-block-end: 0.5em;
}

h1, h2, h3, h4, h5, h6 {
    text-transform: uppercase;
}

.items-top-down {
    display: flex;
    flex-flow: column;
}

.items-down-top {
    display: flex;
    flex-flow: column-reverse;
}

.items-left-right {
    display: flex;
    flex-flow: row;
}

.items-right-left {
    display: flex;
    flex-flow: row-reverse;
}

.inline-items-left-right {
    display: inline-flex;
    flex-flow: row;
}

.inline-items-right-left {
    display: inline-flex;
    flex-flow: row-reverse;
}

.grid-c2 {
    display: grid;
    gap: var(--Gap);
    grid-template-columns: auto auto;
}

.grid-c3 {
    display: grid;
    gap: var(--Gap);
    grid-template-columns: auto auto auto;
}

.grid12 {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(12, auto);
    grid-template-rows: repeat(12, auto);
    justify-items: stretch;
}

.grid12-abcde {
    grid-template-areas:
        "A A A A A A E E E E E E"
        "A A A A A A E E E E E E"
        "A A A A A A E E E E E E"
        "B B B B B B E E E E E E"
        "B B B B B B E E E E E E"
        "B B B B B B E E E E E E"
        "C C C C C C E E E E E E"
        "C C C C C C E E E E E E"
        "C C C C C C E E E E E E"
        "D D D D D D E E E E E E"
        "D D D D D D E E E E E E"
        "D D D D D D E E E E E E";
}

.grid12-abcd {
    grid-template-areas:
        "A A A A A A B B B B B B"
        "A A A A A A B B B B B B"
        "A A A A A A B B B B B B"
        "C C C C C C B B B B B B"
        "C C C C C C B B B B B B"
        "C C C C C C B B B B B B"
        "C C C C C C B B B B B B"
        "C C C C C C B B B B B B"
        "C C C C C C B B B B B B"
        "C C C C C C D D D D D D"
        "C C C C C C D D D D D D"
        "C C C C C C D D D D D D";
}

.grid12-ab {
    grid-template-areas:
        "A A A A A A B B B B B B"
        "A A A A A A B B B B B B"
        "A A A A A A B B B B B B"
        "A A A A A A B B B B B B"
        "A A A A A A B B B B B B"
        "A A A A A A B B B B B B"
        "A A A A A A B B B B B B"
        "A A A A A A B B B B B B"
        "A A A A A A B B B B B B"
        "A A A A A A B B B B B B"
        "A A A A A A B B B B B B"
        "A A A A A A B B B B B B";
}

.g12-abcde-a, .g12-abcd-a, .g12-ab-a {
    grid-area: A;
}

.g12-abcde-b, .g12-abcd-b, .g12-ab-b {
    grid-area: B;
}

.g12-abcde-c, .g12-abcd-c {
    grid-area: C;
}

.g12-abcde-d, .g12-abcd-d {
    grid-area: D;
}

.g12-abcde-e {
    grid-area: E;
}

.old_price {
    text-decoration: line-through red;
    color: gray;
    margin-right: 0.5rem;
    margin-left: 0.5rem;
}

img.bkg {
    width: 100%;
}

.picture-content {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    min-height: 10rem;
    height: 100%;
    width: 100%;
}

.toolbar {
    background: none;
    display: flex;
    flex-flow: column;
    place-items: center;
    padding: var(--DefPadding)
}

.like-title {
    font-size: 1.25rem;
}

.like-note {
    font-size: 0.75rem;
}

.not-wide {
    max-width: 25rem;
}

.bt1 {
    border-top: solid thin black;
}

.bb1 {
    border-bottom: solid thin black;
}

.bl1 {
    border-left: solid thin black;
}

.br1 {
    border-right: solid thin black;
}

.pl1 {
    padding-left: var(--DefPadding);
}

.pr1 {
    padding-right: var(--DefPadding);
}

.pt1 {
    padding-top: var(--DefPadding);
}

.pb1 {
    padding-bottom: var(--DefPadding);
}

.p0 {
    padding: 0;
}

.ml1 {
    margin-left: var(--DefPadding);
}

.mr1 {
    margin-right: var(--DefPadding);
}

.mt1 {
    margin-top: var(--DefPadding);
}

.mb1 {
    margin-bottom: var(--DefPadding);
}

.mla {
    margin-left: auto;
}

.mra {
    margin-right: auto;
}

.mta {
    margin-top: auto;
}

.mba {
    margin-bottom: auto;
}

.m0 {
    margin: 0;
}

.hand {
    cursor: pointer;
}

.hand:hover {
    color: black;
}

.overlined {
    border-top: 1px solid black;
}

.white {
    color: white;
}

.black {
    color: black;
}

.red {
    color: red;
}

.gray {
    color: gray;
}

.w-100 {
    width: 100%;
}

/* Кнопки --------------------------------------------------------------------------------------------------------------*/

button,
input[type="submit"] {
    border: solid black thin;
    border-radius: 1px;
    color: black;
    background: none;
    box-shadow: none;
    padding: calc(0.75 * var(--DefPadding)) calc(2 * var(--DefPadding));
    cursor: pointer;
    text-decoration: none;
}

button.medium,
input[type="submit"].medium {
    font-size: 1.25rem;
}

button.large,
input[type="submit"].large {
    font-size: 3rem;
    border-width: thick;
}

button.inverted,
input[type="submit"].inverted {
    color: white;
    background: black;
    border-color: white;
}

button:hover,
input[type="submit"]:hover {
    background: rgba(0, 0, 0, 0.15);
    color: black;
    border-color: black;
}

/* Perfumery -----------------------------------------------------------------------------------------------------------*/

.perfumery > h1 {
    margin-top: 3rem;
    margin-bottom: 1rem;
    font-size: 4rem;
    font-weight: bolder;
}

.perfumery h2 {
    font-size: 2rem;
    font-weight: bolder;
}

.perfumery summary {
    font-size: 1.25rem;
    font-weight: bolder;
}

.perfumery > * {
    max-width: var(--NarrowPageWidth);
    margin-left: auto;
    margin-right: auto;
}

.perfumery .inverted {
    color: white;
    background: black;
    border-color: white;
}

/* Delivery -----------------------------------------------------------------------------------------------------------*/

.delivery > * {
    max-width: var(--NarrowPageWidth);
    margin-left: auto;
    margin-right: auto;
}

/* Диалоги и формы -----------------------------------------------------------------------------------------------------*/

form {
    display: flex;
    flex-flow: column;
}

form > div {
    display: flex;
    flex-flow: column;
    margin-bottom: 1rem;
}

form > div input {
    border: none;
    border-bottom: solid thin black;
}

form fieldset {
    margin: 0;
    padding: 0;
    border: none;
}

dialog,
.popup {
    max-width: 35rem;
    border: solid black thin;
    color: black;
}

dialog {
    padding: 3rem;
}

#gp-dialog,
#c6t-dialog {
    max-width: 100vw;
    max-height: 100vw;
    box-shadow: 0 0 0 100vw #fff;
    border: none;
}

#c6t-dialog .grid-c2 {
    gap: 4rem;
}

.c6t-sidebar,
#c6t-form {
    min-width: min(30rem, 40vw);
}

.popup {
    display: flex;
    flex-flow: row;
    padding: 1rem;
    font-size: 1.25rem;
    position: fixed;
    right: 2rem;
    top: calc(var(--LeadingHeight) + 3rem);
    background: white;
    visibility: hidden;
    cursor: pointer;
    z-index: var(--ZixTop);
}

.popup label {
    margin-left: 1rem;
    color: gray;
    cursor: pointer;
}

.popup label:hover {
    color: black;
}

.dialog-header {
    display: flex;
    flex-flow:column;
    place-items:center;
}

.dialog-header label {
    margin: 1rem;
}

.cancel-dialog {
    font-size: 2rem;
    color: gray;
    position: absolute;
    top: 1rem;
    right: 1rem;
    cursor: pointer;
}

.cancel-dialog:hover {
    color: black;
}

.dialog-footer {
    margin-top: 1rem;
}