<!DOCTYPE html>
{% load static %}
<html>
<head>
  <title>{% block title %}{% endblock %}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <link href="{% static "css/lms.css" %}" rel="stylesheet">
  <script src="{% static "js/js.cookie.min.js" %}"></script>
  <script>
    {% include "lms/include/base.js" with token="__csrf_token__" %}
    document.addEventListener('DOMContentLoaded', (event) => {
    {% block DOM_ready_script %}
    {% endblock %}
    });
    {% block javascript %}
    {% endblock %}
  </script>
</head>
<body>
<!-- Leading, sidebars begin -->
  <header class="leading">
    {% block leading %}
    {% endblock %}
  </header>
  <aside id="_left_sidebar" class="left">
    {% block left_side_bar %}
    {% endblock %}
  </aside>
  <aside id="_right_sidebar" class="right">
    {% block right_side_bar %}
    {% endblock %}
  </aside>
<!-- Leading, sidebars end -->
<!-- Content begin -->
  <div class="content">
    <div id="leading-spacer"></div>
    <header class="page">
      {% block page_header %}
      {% endblock %}
    </header>
    <main class="page {{page_content}}">
      {% block page_content %}
      {% endblock %}
    </main>
    <header class="page">
      {% block footer_header %}
      {% endblock %}
    </header>
    <footer class="page">
      {% block page_footer %}
      {% endblock %}
    </footer>
  </div>
<!-- Content end -->
  {% block modal_forms %}
  {% endblock %}
</body>
</html>
