<!DOCTYPE html>
{% load static %}
<html>
<head>
  <link href="{% static "css/lms.css" %}" rel="stylesheet">
  <title>{% block title %}{% endblock %}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <script>
    {% block javascript %}
    {% endblock %}
  </script>
</head>
<body>

<!-- Leading, sidebars begin -->
  <header class="leading">
      {% block leading %}
      {% endblock %}
  </header>

  <aside class="left">
    {% block left_side_bar %}
    {% endblock %}
  </aside>

  <aside class="right">
    {% block right_side_bar %}
    {% endblock %}
  </aside>
<!-- Leading, sidebars end -->

<!-- Content begin -->
  <div class="content">
    <div id="leading-spacer"></div>
    <header class="page">
      {% block page_header %}
      {% endblock %}
    </header>
    <main class="page">
      {% block page_content %}
      {% endblock %}
    </main>
    <header class="page">
      {% block footer_header %}
      {% endblock %}
    </header>
    <footer class="page">
      {% block page_footer %}
      {% endblock %}
    </footer>
  </div>
<!-- Content end -->
  <script>
    document.addEventListener('DOMContentLoaded', (event) => {
      {% block DOM_ready_script %}
      {% endblock %}
    })
  </script>
</body>
</html>
