{% extends "lms/std_page.html" %}
{% load static %}
{% load custom_tags %}

{% block page_header %}
  {% include "lms/include/ad-block.html" with static_image="img/bkg-001.jpg" %}
{% endblock %}

{% block page_content %}
  {% include "lms/include/catalogue-type-A.html" with products=products title="Каталог" favorites=favorites order=order pages=product_pages kind="pd" %}
  {% include "lms/include/catalogue-type-A.html" with products=bestsellers favorites=favorites title="Бестселлеры" order=order pages=bestseller_pages kind="bs" %}
{% endblock %}

{% block footer_header %}
  {% include "lms/include/ad-block.html" with static_image="img/bkg-002.jpg" %}
{% endblock %}

{% block javascript %}
const pcard_like_click = (input, url) => {
  url = url.replace(/\/\d\/$/, `/${input.checked?1:0}/`);
  fetch(url, {'method': 'POST', headers: {'X-CSRFToken': csrftoken}}).then(response => response.json()).then(answer => {
    let selector = `input[type="checkbox"][data-ppk="${answer.ppk}"]`;
    let inputs = document.querySelectorAll(selector);
    inputs.forEach((input, arg1, arg2) => {
      input.checked = answer.like;
    });
  });
}
const notify_delivery = ppk => {
  fetch('{% url "api:get_customer_info" flags=7 %}', {'method': 'POST', headers: {'X-CSRFToken': csrftoken}}).then(response => response.json()).then(answer => {
    document.getElementById('notify-delivery-form').showModal();
  });
}
{% endblock %}
{% block modal_forms %}
{% include "lms/include/modal-form.html" with modal_id="notify-delivery-form" %}
{% endblock %}
{% block DOM_ready_script %}
{% endblock %}
