{% extends "lms/std_page.html" %}
{% load static %}
{% load custom_tags %}

{% block page_header %}
{% include "lms/include/ad-block.html" with static_image="img/bkg-001.jpg" %}
{% endblock %}

{% block page_content %}
{% include "lms/include/catalogue-type-A.html" with title=param_title_catalogue pages=product_pages kind="pd" variants=order_variants selector_id="order-selector" %}
{% include "lms/include/catalogue-type-A.html" with products=bestsellers title="Бестселлеры" pages=bestseller_pages kind="bs" %}
{% endblock %}

{% block footer_header %}
{% include "lms/include/ad-block.html" with static_image="img/bkg-002.jpg" %}
{% endblock %}

{% block javascript %} {{block.super}}
{% include "lms/include/dialog.js" with dialog_id="notify-delivery-dialog" unique="ndd" custom_load=True %}
{% include "lms/include/dialog.js" with dialog_id="c6t-dialog" unique="c6t" custom_load=False %}
{% include "lms/include/index.js" %}
{% endblock %}

{% block modal_forms %} {{block.super}}
{% include "lms/include/dialog.html" with dialog_id="notify-delivery-dialog" form=scui_form %}
{% include "lms/include/dialog.html" with dialog_id="c6t-dialog" form=c6t_form %}
{% endblock %}

{% block DOM_ready_script %} {{block.super}}
document.getElementById("order-selector").addEventListener("change", pd_reorder);
{% endblock %}
