{% extends "lms/std_page.html" %}
{% load static %}
{% load custom_tags %}

{% block page_header %}
{% static "img/bkg-001.jpg" as img %}
{% url "lms:catalogue" as ref %}
{% include "lms/include/banner.html" with unique="main" type="C" slogan='Новая коллекция' s_cls="banner-end white" button="Перейти в каталог" b_cls="banner-button-white medium" %}
{% endblock %}

{% block page_content %}
{% include "lms/include/catalogue-type-A.html" with title=param_title_catalogue pages=product_pages kind="pd" variants=order_variants selector_id="order-selector" %}
{% include "lms/include/catalogue-type-A.html" with title=param_title_bestsellers products=bestsellers pages=bestseller_pages kind="bs" %}
{% endblock %}

{% block footer_header %}
{% static "img/bkg-004.jpg" as img %}
{% url "lms:perfumery" as ref %}
{% include "lms/include/banner.html" with type="B" slogan=param_title_perfumery s_cls="banner-end" button="Ознакомиться" b_cls="medium" %}
{% endblock %}

{% block javascript %} {{block.super}}
{% include "lms/include/dialog.js" with dialog_id="notify-delivery-dialog" unique="ndd" dynamic=False %}
{% include "lms/include/dialog.js" with dialog_id="c6t-dialog" unique="c6t" dynamic=True %}
{% include "lms/include/c6t-dialog-ext.js" %}
{% static "img/bkg-001.jpg" as img_1 %}
{% static "img/bkg-002.jpg" as img_2 %}
{% url "lms:catalogue" as ref_1 %}
{% url "lms:perfumery" as ref_2 %}
{% with "Перейти в каталог" as button_1 %}
{% with "Ознакомиться" as button_2 %}
{% include "lms/include/banner.js" with unique="main" slogan_1="Новая коллекция" slogan_2="Коллекция<br/>ароматов" show=1 %}
{% endwith %}
{% endwith %}
{% include "lms/include/index.js" %}
{% endblock %}

{% block modal_forms %} {{block.super}}
{% include "lms/include/dialog.html" with unique="ndd" dialog_id="notify-delivery-dialog" form=scui_form %}
{% include "lms/include/dialog.html" with unique="c6t" dialog_id="c6t-dialog" title=param_title_checkout description=" " %}
{% endblock %}

{% block DOM_ready_script %} {{block.super}}
document.getElementById("order-selector").addEventListener("change", pd_reorder);
main_banner.init();
{% endblock %}
