{% extends "lms/std_page.html" %}
{% load static %}
{% load custom_tags %}
{% block page_header %}
{% static "img/bkg-002.jpg" as img %}
{% include "lms/include/banner.html" with type="B" slogan=param_title_perfumery s_cls="banner-end white" button="Заказать аромат" b_cls="banner-button-plain medium" ref=param_value_link_perfumery %}
{% endblock %}
{% block page_content %}
{{ text_00 | markdown }}
<div class="grid12 grid12-abcd"> {# ----------------------------------------------------------------------------------  #}
<div class="g12-ia">{{ text_01 | markdown }}</div>
{% include "lms/include/picture.html" with classes="g12-ib" pic_file="img/pic-03.jpg" %}
{% include "lms/include/picture.html" with classes="g12-ic" pic_file="img/pic-04.jpg" %}
{% include "lms/include/picture.html" with classes="g12-id" pic_file="img/pic-05.jpg" %}
</div>
<h1></h1> {# ---------------------------------------------------------------------------------------------------------  #}
{{text_02 | markdown}}
<div class="grid12 grid12-ab">
{% include "lms/include/picture.html" with classes="g12-ia" pic_file="img/pic-06.jpg" %}
<div class="g12-ib">{{ text_03 | markdown }}</div>
</div>
<h1></h1> {# ---------------------------------------------------------------------------------------------------------  #}
<div class="grid12 grid12-abcde">
<div class="g12-ia">{{ text_04 | markdown }}</div>
<div class="g12-ib bt1 bb1 bl1 br1 pl1 pr1">{{ text_06 | markdown }}</div>
<div class="g12-ic bt1 bb1 bl1 br1 pl1 pr1">{{ text_07 | markdown }}</div>
<div class="g12-id bt1 bb1 bl1 br1 pl1 pr1">{{ text_08 | markdown }}</div>
{% include "lms/include/picture.html" with classes="g12-ie" pic_file="img/pic-07.jpg" %}
</div>
<h1></h1> {# ---------------------------------------------------------------------------------------------------------  #}
{% static "img/bkg-003.jpg" as img %}
{% include "lms/include/banner.html" with type="A" slogan="КАК<br/>ЗАКАЗАТЬ<br/>ПАРФЮМ" s_cls="banner-end white" button="Заказать аромат" b_cls="banner-button-plain" text=text_09|markdown t_cls="banner-end white" ref=param_value_link_perfumery %}
{{text_05 | markdown}} {# --------------------------------------------------------------------------------------------  #}
{% include "lms/include/accordion.html" with article_classes="bb1" summary_classes="bt1 pt1 pb1 hand" md=True %}
{% endblock %}
