{% load thumbnail %}
<h1>Ваш заказ</h1>
{% for sr in scart %}
<div class="items-right-left">
    <label class="hand gray like-title" style="margin-bottom: -1rem;" onclick="{{side}}_sidebar.hide();">&#11198;</label>
</div>
<div class="items-left-right">
    {% with sr.product.primary_image as img %}
    {% if img %}
    <figure class="scart-fig">
        <div class="scart-img" style="background-image: url('{% thumbnail img.image 100x0 %}');">
        </div>
<!--    <img class="w-100" src="{% thumbnail img.image 70x0 %}"/>-->
    </figure>
    {% endif %}
    {% endwith %}
    <div class="pl1">
    {% include "lms/include/product-description.html" with product=sr.product size=sr.size quantity=sr.quantity %}
    </div>
</div>
{% endfor %}
<div class="items-right-left overlined mt1">
    <p class="total-price like-title">Сумма к оплате: {{price}} руб.</p>
</div>
<button class="w-100 inverted" onclick="">Оформить заказ</button>