{% load thumbnail %}
<h1>{{param_title_shopping_cart}}</h1>
{% for rec in records %}
<div class="items-right-left">
    <label class="hand gray like-title" style="margin-bottom: -1rem;" onclick="{{side}}_sidebar.hide();">&#11198;</label>
</div>
<div class="items-left-right">
    {% with rec.product.primary_image as img %}
    {% if img %}
    <figure class="scart-fig">
        <div class="scart-img" style="background-image: url('{% thumbnail img.image 100x0 %}');">
        </div>
    </figure>
    {% endif %}
    {% endwith %}
    <div class="pl1">
    {% include "lms/include/product-description.html" with product=rec.product size=rec.size quantity=rec.quantity %}
    </div>
</div>
{% endfor %}
<div class="items-right-left overlined mt1">
    <p class="total-price like-title">{{param_label_amount_to_be_paid}}: {{price}} {{param_label_currency}}</p>
</div>
<button class="w-100 inverted" onclick="">{{param_label_checkout}}</button>