<div id="sch-box">
    <header id="sch-header" class="mt1 items-left-right">
        <span class="pseudo-icon gray" style="-webkit-transform: rotate(-45deg); -moz-transform: rotate(-45deg); -o-transform: rotate(-45deg); transform: rotate(-45deg);">&#9906;</span><input id="sch-text" type="search" placeholder="Поиск..." oninput="sch.update(this.value);"/><span class="pseudo-icon hand" onclick="sch_dialog.close();">&times;</span>
    </header>
    <section id="sch-info">
    </section>
    <section id="sch-result">
    </section>
    <footer id="sch-footer" class="items-left-right">
    </footer>
</div>