{% if page > 1 %}<div class="pseudo-icon hand" onclick="sch.go_page(1);">{{dl_ang}}</div>{% endif %}
{% if page > 1 %}<div class="pseudo-icon hand" onclick="sch.go_prev_page();">{{l_ang}}</div>{% endif %}
{% for p in before %}
{% if p != '-' %}
<div class="pseudo-icon hand" onclick="sch.go_page({{p}});">{{p}}</div>
{% else %}
<div class="pseudo-icon">&hellip;</div>
{% endif %}
{% endfor %}
<div class="pseudo-icon hand inverted" onclick="sch.go_page({{page}});">{{page}}</div>
{% for p in after %}
{% if p != '-' %}
<div class="pseudo-icon hand" onclick="sch.go_page({{p}});">{{p}}</div>
{% else %}
<div class="pseudo-icon">&hellip;</div>
{% endif %}
{% endfor %}
{% if page < pgn.num_pages %}<div class="pseudo-icon hand" onclick="sch.go_next_page({{pgn.num_pages}});">{{r_ang}}</div>{% endif %}
{% if page < pgn.num_pages %}<div class="pseudo-icon hand" onclick="sch.go_page({{pgn.num_pages}});">{{dr_ang}}</div>{% endif %}