{% extends "lms/base.html" %}
{% load static %}

{% block title %}LubMi - {{page_title}}{% endblock %}

{% block leading %}<nav>
  <a class="logo" href='{% url "lms:index" %}'><img src="{% static 'svg/logo.svg' %}"/></a>
  <a href='{% url "lms:index" %}'>Главная</a>
  <a href='{% url "lms:catalogue" %}'>Каталог</a>
  <a href='{% url "lms:perfumery" %}'>Парфюмерия</a>
  <a href='{% url "lms:delivery" %}'>Доставка и оплата</a>
  <a href='{% url "lms:care" %}'>Уход</a>
  <a href='{% url "lms:contacts" %}'>Контакты</a>
  <a href='{% url "lms:about" %}'>О компании</a>
</nav>{% endblock %}

{% block page_footer %}
<div class="std-footer">
  <div class="std-footer-item-1">
    <a class="logo" href='{% url "lms:index" %}'><img src="{% static 'svg/logo.svg' %}"/></a>
    <a href='{% url "lms:index" %}'>+1 891 989-11-91</a>
    <a href='{% url "lms:index" %}'>hello@logoipsum.com</a>
  </div>
  <div class="std-footer-item-2">
    <h6>Покупателям</h6>
    <a href='{% url "lms:delivery" %}'>Доставка и оплата</a>
    <a href='{% url "lms:index" %}'>Таблица размеров</a>
  </div>
  <div class="std-footer-item-3">
    <h6>О компании</h6>
    <a href='{% url "lms:about" %}'>О бренде</a>
  </div>
  <div class="std-footer-item-4">
    <small>&#169; 2023 -- Copyright</small>
    <img style="height:1em" src="{% static 'svg/footer.svg' %}"/>
    <a href='{% url "lms:index" %}'><small>Политика конфиденциальности</small></a>
    <a href='{% url "lms:index" %}'><small>Публичная оферта</small></a>
  </div>
</div>
{% endblock %}

{% block left_side_bar %}
  <h2>Левая Боковая панель</h2>
  <p>Работа в процессе</p>
{% endblock %}

{% block right_side_bar %}
  <h2>Правая Боковая панель</h2>
  <p>Работа в процессе</p>
{% endblock %}