{% extends "lms/base.html" %}

{% block title %}
LubMi - {{page_title}}
{% endblock %}

{% block leading %}
{% include "lms/include/navigation.html" %}
{% endblock %}

{% block page_footer %}
{% include "lms/include/page-footer.html" %}
{% endblock %}

{% block left_side_bar %}
{% include "lms/include/sidebar.html" with side="left" classes="items-top-down" %}
{% endblock %}

{% block right_side_bar %}
{% include "lms/include/sidebar.html" with side="right" classes="items-top-down" %}
{% endblock %}

{% block modal_forms %}
{% include "lms/include/popup.html" with popup_id="popup-message" %}
{% include "lms/include/dialog.html" with unique="gp" dialog_id="gp-dialog" form=None %}
{% include "lms/include/dialog.html" with unique="pmt" dialog_id="pmt-dialog" form=None title="Спасибо за покупку!" description="Поздравляем!" confirmation="Перейти в чат техподдержки" %}
{% include "lms/include/dialog.html" with unique="nop" dialog_id="nop-dialog" form=None title="Заказ отменен" description="Сожалеем" confirmation="Перейти в чат техподдержки" %}
{% include "lms/include/dialog.html" with unique="per" dialog_id="per-dialog" form=None title="Произошла ошибка" confirmation="Перейти в чат техподдержки" %}
{% include "lms/include/dialog.html" with unique="msg" dialog_id="msg-dialog" form=None title="Сообщение" confirmation="Закрыть" %}
{% include "lms/include/dialog.html" with unique="sch" dialog_id="sch-dialog" form=None headless=True %}
{% endblock %}

{% block javascript %}
{% include "lms/include/catalogue-type-A.js" with kind="pd" pages=product_pages %}
{% include "lms/include/catalogue-type-A.js" with kind="bs" pages=bestseller_pages %}
{% include "lms/include/popup.js" with popup_id="popup-message" %}
{% include "lms/include/dialog.js" with dialog_id="gp-dialog" unique="gp" dynamic=True %}
{% include "lms/include/dialog.js" with dialog_id="pmt-dialog" unique="pmt" dynamic=True %}
{% include "lms/include/dialog.js" with dialog_id="nop-dialog" unique="nop" dynamic=True %}
{% include "lms/include/dialog.js" with dialog_id="per-dialog" unique="per" dynamic=True %}
{% include "lms/include/dialog.js" with dialog_id="msg-dialog" unique="msg" dynamic=True %}
{% include "lms/include/dialog.js" with dialog_id="sch-dialog" unique="sch" dynamic=True %}
{% include "lms/include/sidebar.js" with side="left" %}
{% include "lms/include/sidebar.js" with side="right" %}
{% include "lms/include/search.js" %}
{% include "lms/include/contacts.js" %}
{% include "lms/include/message.js" %}
{% include "lms/include/sz-chart.js" %}
{% endblock %}

{% block DOM_ready_script %}
popup.hide();
{% include "lms/include/payment.js" %}
{% endblock %}



