{% extends "admin/base_site.html" %}
{% load custom_tags %}
{% block title %}Закрытие заказа {{ block.super }}{% endblock %}

{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url "admin:index" %}">Home</a> &rsaquo; <a href="{% url "admin:lms_order_changelist" %}">Заказы</a> &rsaquo; <a href="{% url "lms:admin_order_details" slug=order.slug %}">Детали</a> &rsaquo; Закрыть заказ
</div>
{% endblock %}

{% block content %}
<div class="module">
    {% if order.status == 1 %}
    <h1>Закрытие заказа #{{ order.uuid }}</h1>
    {{"- Вы уверены, что данный заказ **отправлен заказчику** и может быть *закрыт*?" | markdown}}
    <form method="post" style="display:flex;flex-flow:row;">
        {%csrf_token%}
        <input type="submit" value="Да, закрыть заказ" style="margin:0;background:green;" />
        <span>&nbsp;</span>
        <a href="{% url "lms:admin_order_details" slug=order.slug %}" class="button cancel-link" style="display:inline-flex;place-items:center;" >Нет, отменить и вернуться к заказу</a>
    </form>
    {% else %}
    <h1>Только оплаченный заказ может быть закрыт</h1>
    <a href="{% url "lms:admin_order_details" slug=order.slug %}" class="button cancel-link" style="display:inline-flex;place-items:center;" >Вернуться</a>
    {% endif %}
</div>
{% endblock %}