{% extends "admin/base_site.html" %}
{% block title %}Заказ {{ block.super }}{% endblock %}

{% block content %}
<div class="module">
    <h1>Заказ #{{ order.uuid }}</h1>
    <ul>
        <li><a href="#" onclick="window.print();">Печатать</a></li>
        {% if order.status == 1 %}
        <li><a href="#" onclick="window.print();">Закрыть заказ</a></li>
        {% endif %}
    </ul>
    <table>
        <tr><td>Создан:</td><td>{{order.created_at}}</td></tr>
        <tr><td>Статус:</td><td>{{order.get_status_display}}</td></tr>
        {% if order.status == 3 %}
        <tr><td>Закрыт:</td><td>{{order.completed_at}}</td></tr>
        {% endif %}
        <tr><td>Заказчик:</td><td>{{order.cu_fullname}}</td></tr>
        <tr><td>Служба доставки:</td><td>{{order.get_delivery_service_display}}</td></tr>
        <tr><td>Адрес доставки:</td><td>{{order.cu_city}}{%if order.cu_region%}, {{order.cu_region}}{%endif%}{%if order.cu_subregion%}, {{order.cu_subregion}}{%endif%}, улица: {{order.cu_street}}, здание: {{order.cu_building}}, подъезд: {{order.cu_entrance}}, этаж: {{order.cu_floor}}, квартира/офис: {{order.cu_apartment}}</td></tr>
    </table>
    {# Перечень позиций #}
    <h1>Позиции по заказу</h1>
    <table>
        <tr><td>Создан:</td><td>{{order.created_at}}</td></tr>
        <tr><td>Статус:</td><td>{{order.get_status_display}}</td></tr>
        {% if order.status == 1 %}
        <tr><td>Закрыт:</td><td>{{order.completed_at}}</td></tr>
        {% endif %}
        <tr><td>Заказчик:</td><td>{{order.cu_fullname}}</td></tr>
        <tr><td>Служба доставки:</td><td>{{order.get_delivery_service_display}}</td></tr>
        <tr><td>Адрес доставки:</td><td>{{order.get_delivery_service_display}}</td></tr>
    </table>
    {# Стоимость доставки и общая стоимость #}
    <table>
        <tr><td>Создан:</td><td>{{order.created_at}}</td></tr>
        <tr><td>Статус:</td><td>{{order.get_status_display}}</td></tr>
        {% if order.status == 1 %}
        <tr><td>Закрыт:</td><td>{{order.completed_at}}</td></tr>
        {% endif %}
        <tr><td>Заказчик:</td><td>{{order.cu_fullname}}</td></tr>
        <tr><td>Служба доставки:</td><td>{{order.get_delivery_service_display}}</td></tr>
        <tr><td>Адрес доставки:</td><td>{{order.get_delivery_service_display}}</td></tr>
    </table>
</div>
{% endblock %}