<section {%if unique%}id="banner-{{unique}}"{%endif%}class="banner banner-{{type}} {{bnr_cls}}" style="background-image: {%include 'lms/include/gradient.html'%}{%if gradient%},{%endif%} url({{img}})">
    {% if slogan %}
    <div class="banner-slogan {{s_cls}}">{{slogan}}</div>
    {% endif %}
    {% if w_slogan %}
    <div class="banner-slogan on-wide {{s_cls}}">{{w_slogan}}</div>
    {% endif %}
    {% if n_slogan %}
    <div class="banner-slogan on-narrow {{s_cls}}">{{n_slogan}}</div>
    {% endif %}
    {% if button %}
    <button class="banner-button {{b_cls}}" onclick="window.location.href='{{ref}}';">{{button}}</button>
    {% endif %}
    {% if text %}
    <div class="banner-text {{t_cls}}">{{text}}</div>
    {% endif %}
</section>