<section {%if unique%}id="banner-{{unique}}"{%endif%}class="banner banner-{{type}} {{bnr_cls}}" style="background-image: {%include 'lms/include/gradient.html'%} url({{img}})">
    {% if slogan %}
    <div class="banner-slogan {{s_cls}}">{{slogan}}</div>
    {% endif %}
    {% if button %}
    <button class="banner-button {{b_cls}}" onclick="window.location.href='{{ref}}';">{{button}}</button>
    {% endif %}
    {% if text %}
    <div class="banner-text {{t_cls}}">{{text}}</div>
    {% endif %}
</section>