<dialog id="{{dialog_id}}">
	{% if not headless %}
	<div>
		<label class="cancel-dialog arrow-left" onclick="{{unique}}_dialog.close();">{{param_label_back}}</label>
		{% if form %}
		<label class="cancel-dialog" onclick="{{unique}}_dialog.close();">{{form.cancel|default:'&times;'}}</label>
		{% else %}
		<label class="cancel-dialog" onclick="{{unique}}_dialog.close();">&times;</label>
		{% endif %}
	</div>
	<div class="dialog-header">
		{% if form %}
			<h2>{{form.title|default:"Укажите заголовок формы"}}</h2>
			<label>{{form.description|default:"Укажите описание формы"}}</label>
		{% else %}
			{% if title %}<h2>{{title}}</h2>{% endif %}
			{% if description %}<label>{{description}}</label>{% endif %}
		{% endif %}
	</div>
	{% endif %}
	<div class="dialog-body">
		{% if form %}
			<form id="{{form.id}}" action="" method="post">
			{{form.as_div}}
			{%csrf_token%}
			<div class="dialog-footer"><input class="medium inverted" type="submit" value="{{form.confirmation|default:'Укажите подтверждение'}}"/></div>
			</form>
		{% endif %}
	</div>
	{% if not form and confirmation %}
	<div class="dialog-footer">
		<button class="dialog-confirm-button medium inverted" onclick="">{{confirmation}}</button>
	</div>
	{% endif %}
</dialog>