{% load static %}
<dialog id="{{dialog_id}}">
	{% if not closerless %}
	<div class="dialog-closer">
		{% if has_arrow %}
		<label class="cancel-dialog arrow-left" onclick="{{unique}}_dialog.close();">{{left_arrow}}<span>{{param_label_back}}</span></label>
		{% endif %}
		<label class="cancel-dialog" onclick="{{unique}}_dialog.close();">{{x_cross}}</label>
	</div>
	{% endif %}
	{% if not headless %}
	<div class="dialog-header">
		{% if form %}
			<h1>{{form.title|default:"Укажите заголовок формы"}}</h1>
			<label>{{form.description|default:"Укажите описание формы"}}</label>
		{% else %}
			{% if title %}<h1>{{title}}</h1>{% endif %}
			{% if description %}<label>{{description}}</label>{% endif %}
		{% endif %}
	</div>
	{% endif %}
	<div class="dialog-body">
		{% if form %}
			<form id="{{form.id}}" action="" method="post">
			{{form.as_div}}
			{%csrf_token%}
			{% if form.confirmation %}
			<div class="dialog-footer"><input class="medium inverted" type="submit" value="{{form.confirmation}}"/></div>
			{% endif %}
			</form>
		{% endif %}
	</div>
	{% if not form and confirmation %}
	<div class="dialog-footer">
		<button class="dialog-confirm-button medium inverted" onclick="">{{confirmation}}</button>
	</div>
	{% endif %}
</dialog>