<dialog id="{{modal_id}}">
	{% if form %}
	<label class="cancel-dialog" onclick="document.getElementById('{{modal_id}}').close();">{{form.cancel|default:'Укажите отказ'}}</label>
	{% else %}
	<label class="cancel-dialog" onclick="document.getElementById('{{modal_id}}').close();">&times;</label>
	{% endif %}
	<div class="dialog-header">
		{% if form %}
		<h2>{{form.title|default:"Укажите заголовок"}}</h2>
		<label>{{form.description|default:"Укажите описание"}}</label>
		{% else %}
		<h2>{{title|default:"Укажите заголовок"}}</h2>
		<label>{{description|default:"Укажите описание"}}</label>
		{% endif %}
	</div>
	<div class="dialog-body">
		{% if form %}
		<form id="{{form.id}}" action="" method="post">
		{{form.as_div}}
		{%csrf_token%}
		<div class="dialog-footer"><input class="medium inverted" type="submit" value="{{form.confirmation|default:'Укажите подтверждение'}}"/></div>
		</form>
		{% else %}
		{% lorem %}
		{% endif %}
	</div>
</dialog>
