{% load static %}
<nav>
  <a class="logo" href='{% url "lms:index" %}'><img src="{% static 'svg/logo.svg' %}"/></a>
  {% include "lms/include/nav-menu.html" %}
  <section class="nav-icons">
  <a class="picto hand" onclick="sch.open();"><img src="{% static 'svg/lens.svg' %}"/></a>
  <a class="picto hand" onclick="right_sidebar.show_favorites();"><img src="{% static 'svg/heart.svg' %}"/></a>
  <a class="picto hand" onclick="right_sidebar.show_scart();"><img src="{% static 'svg/bag.svg' %}"/></a>
  <a class="on-narrow picto hand" onclick="right_sidebar.show_scart();"><img src="{% static 'svg/menu.svg' %}"/></a>
  </section>
</nav>
