{% if standalone %}
{{product.title}}<br/>
({{product.color|default:"цвет не указан"}})<br/>
{% if product.old_price %}<span class="old_price">{{product.old_price.amount}} руб.</span>{% endif %}{{product.actual_price.amount}} руб.<br/>
{% if not product.in_stock %}<span class="red">Нет в наличии<br/></span><button class="w-100" onclick="notify_delivery('{{product.article}}')">Сообщить о поступлении</button>{% endif %}
{% else %}
<p class="like-title"><strong>{{product.title}} ({{product.color}})</strong></p>
<p class="gray like-note">Артикул: {{product.article}}</p>
<p><span class="like-title"><strong>{{product.actual_price.amount}} руб.</strong></span>{% if product.old_price %}<span class="old_price">{{product.old_price.amount}} руб.</span>{% endif %}</p>
{% if product.in_stock %}
<label class="like-title" for="size-selector">Размер:</label>
{% include "lms/include/selector.html" with variants=product.variants selector_id="size-selector" %}
<button class="w-100 inverted" onclick="product_to_scart('{{product.article}}', document.getElementById('size-selector').value, 1);">Добавить в корзину</button>
{% else %}
<p><span class="red">Нет в наличии<br/></span><button class="w-100 inverted" onclick="notify_delivery('{{product.article}}')">Сообщить о поступлении</button></p>
{% endif %}
<p class="not-wide">{{product.description|default:"Детальное товара описание отсутствует"}}</p>
{% endif %}