{% load thumbnail %}
<figure>
  {% with product.primary_image as img %}
  {% if img %}
  {% if standalone %}
  <div class="p-card-a"
       style="background-image: url('{% thumbnail img.image 220x0 %}');"
       onclick="if(event.eventPhase==event.AT_TARGET) show_product_details('{% url 'lms:product_details' slug=product.slug %}');">
  {% else %}
  <div class="p-card-a not-standalone"
       style="background-image: url('{% thumbnail img.image 220x0 %}');">
  {% endif%}
    {% if product.novelty %}
    <label class="white">Новинка!</label>
    {% endif %}
    {% if product.article in favorites %}
    {% include "lms/include/heart.html" with checked="checked" %}
    {% else %}
    {% include "lms/include/heart.html" with checked="unchecked" %}
    {% endif %}
  </div>
  {% else %}
  <div class="p-card-a">
    <h3>Изображение отсутствует</h3>
  </div>
  {% endif %}
  {% endwith %}
  {% if standalone %}
  <figcaption>
  {% include "lms/include/product-description.html" %}
  </figcaption>
  {% endif %}
</figure>