{% load custom_tags %}
{#  Каталог ************************************************************************************************************ #}
{% if card_type == "catalogue" %}
<span class="product-title">{{product.title}}</span><br/>
<span class="product-title">({{product.color|default:param_message_color_missed}})</span><br/>
<div class="price-line">
{% if product.old_price %}<span class="old-price">{{product.old_price.amount|floatformat:0}}&nbsp;{{param_label_currency}}</span>&nbsp;{% endif %}<span class="actual-price">{{product.actual_price.amount|floatformat:0}}&nbsp;{{param_label_currency}}</span><br/>
</div>
{% if not product.in_stock %}<div class="not-in-stock">{{param_label_not_available}}<br/></div>
<button class="w-100" onclick="notify_delivery('{{product.article}}')">{{param_label_notify_delivery}}</button>{% endif %}
{# Детальная карточка ************************************************************************************************** #}
{% elif card_type == "details" %}
<div class="product-title">{{product.title}}&nbsp;({{product.color|default:param_message_color_missed}})</div>
<div class="product-article">{{param_label_article}}:&nbsp;{{product.article}}</div>
<div class="price-line">
<span class="actual-price">{{product.actual_price.amount|floatformat:0}}&nbsp;{{param_label_currency}}</span>{% if product.old_price %}&nbsp;<span class="old-price">{{product.old_price.amount|floatformat:0}}&nbsp;{{param_label_currency}}</span>{% endif %}
</div>
{% if product.in_stock %}
<div><label class="size-label" for="size-selector">{{param_label_size}}:</label></div>
{% include "lms/include/selector.html" with variants=product.variants selector_id="size-selector" %}
<button class="w-100 inverted medium" onclick="product_to_scart('{{product.article}}',document.getElementById('size-selector').value,1,right_sidebar.show_scart);gp_dialog.close();">
{{param_label_add_to_shopping_cart}}
</button>
{% else %}
<div class="not-in-stock">{{param_label_not_available}}</div>
<button class="w-100 inverted medium" onclick="notify_delivery('{{product.article}}')">{{param_label_notify_delivery}}</button>
{% endif %}
<div class="product-notes">{{product.description|default:param_message_details_missed|markdown}}</div>
{# Корзина ************************************************************************************************************* #}
{% elif card_type == "shopping-cart" %}
<span class="like-title">{{product.title}}&nbsp;({{product.color|default:param_message_color_missed}})</span><br/>
<span class="gray like-note">{{param_label_article}}: {{product.article}}<br/>{{param_label_size}}: {{size.size}}</span><br/><br/>
<span class="items-left-right">
<span>{{product.actual_price.amount}} {{param_label_currency}}</span>
<span class="inline-items-right-left mla like-title">{% if quantity < size.quantity %}
<span class="hand gray" onclick="product_to_scart('{{product.article}}', {{size.id}}, 1);">&nbsp;&#8853;</span>{% endif %}
<span>{{quantity}}</span>{% if quantity > 1 %}
<span class="hand gray" onclick="product_to_scart('{{product.article}}', {{size.id}}, -1);">&#8854;&nbsp;</span>{% endif %}
</span>
</span>
{# Избранное *********************************************************************************************************** #}
{% elif card_type == "favorites" %}
<span class="like-title">{{product.title}}&nbsp;({{product.color|default:param_message_color_missed}})</span><br/>
<span class="gray like-note">{{param_label_article}}: {{product.article}}</span><br/><br/>
<span>{{product.actual_price.amount}} {{param_label_currency}}</span>
{# ********************************************************************************************************************* #}
{% else %}
<p>Исправить! Неизвестный тип карточки!</p>
{% endif %}
