{% load thumbnail %}
<figure>
  {% with product.primary_image as img %}
  {% if img %}
  <div class="p-card-a" style="background-image: url('{% thumbnail img.image 220x0 %}');">
    {% if product.novelty %}
    <label class="white">Новинка</label>
    {% endif %}
    {% if product.article in favorites %}
    {% include "lms/include/heart.html" with product=product checked="checked" %}
    {% else %}
    {% include "lms/include/heart.html" with product=product checked="unchecked" %}
    {% endif %}
  </div>
  {% else %}
  <div class="p-card-a">
    <h3>Изображение отсутствует</h3>
  </div>
  {% endif %}
  {% endwith %}
  <figcaption>
    {% if product.old_price %}
    {{product.title}}<br/>
    ({{product.color|default:"цвет не указан"}})<br/>
    <span class="old_price">{{product.old_price.amount}} руб.</span>{{product.actual_price.amount}} руб.
    {% else %}
    {{product.title}}<br/>
    ({{product.color|default:"цвет не указан"}})<br/>
    {{product.actual_price.amount}} руб.
    {% endif %}
  </figcaption>
</figure>