{% load thumbnail %}
<div class="p-card-b">
    <div class="icon-list items-top-down">
        {% for img in product.images.all %}
        <img class="icon" src="{% thumbnail img.image 50x50 quality=90 crop %}" onclick="document.querySelector('.p-card-b .p-card-a').style['background-image'] = 'url({% thumbnail img.image 512x0 %})';"/>
        {% endfor %}
    </div>
    <div class="product-card">
        {% include "lms/include/product-card-type-A.html" %}
    </div>
    <div class="product-description">
        {% include "lms/include/product-description.html" %}
    </div>
</div>