{% include "lms/include/undo.html" with unique="scart" %}
{% if records %}
{% for rec in records %}
{% include "lms/include/sidebar-item.html" with card_type="shopping-cart" product=rec.product size=rec.size quantity=rec.quantity %}
{% endfor %}
{{separator}}
<div class="items-right-left mt1 mb3">
    <div class="total-price">{{param_label_amount_to_be_paid}}: {{price|floatformat:0}} {{param_label_currency}}</div>
</div>
{% if button %}
<button class="w-100 inverted medium" onclick="do_checkout();">{{param_label_checkout}}</button>
{% endif %}
{% else %}
<p>{{param_message_shopping_cart_empty}}</p>
{% endif %}