{% load custom_tags %}
<div id="{{unique}}-custom-select" class="custom-select">
  <button id="{{unique}}-select-button" class="select-button" aria-expanded="false">
    <span id="{{unique}}-selected-value" class="selected-value">{{variants|first_val_in_dict}}</span>
    <span class="arrow">{{d_ang}}</span>
  </button>
  <ul id="{{unique}}-select-dropdown" class="select-dropdown" role="listbox">
    {% for value, title in variants.items %}
    <li role="option">
      <input type="radio" id="{{value}}" name="{{value}}"/>
      <label for="{{value}}">{{title}}</label>
    </li>
    {% endfor %}
  </ul>
</div>
