{% load thumbnail %}
<div class="items-right-left">
    {% if card_type == "shopping-cart" %}
    <label class="hand gray like-title" style="margin-bottom: -1rem;" onclick="kill_product_in_scart('{{product.article}}', '{{size.size}}');">&#11198;</label>
    {% elif card_type == "favorites" %}
    <label class="hand gray like-title" style="margin-bottom: -1rem;" onclick="pcard_like_click({checked: false}, '{% url 'api:set_product_like' ppk=product.article like=0 %}');">&#11198;</label>
    {% endif %}
</div>
<div class="items-left-right">
    {% with product.primary_image as img %}
    {% if img %}
    <figure class="sidebar-fig">
        <div class="sidebar-img" style="background-image: url('{% thumbnail img.image 100x0 %}');">
        </div>
    </figure>
    {% endif %}
    {% endwith %}
    <div class="pl1">
    {% include "lms/include/product-description.html" %}
    </div>
</div>