{% load thumbnail %}
<div class="sidebar-item item-type-{{card_type}}">
    {% with product.primary_image as img %}
    {% if img %}
    <figure class="sidebar-fig">
        <div class="sidebar-img hand" style="background-image: url('{% thumbnail img.image 200x200 crop quality=90 %}');" onclick="show_product_details('{% url 'lms:product_details' slug=product.slug %}');">
        </div>
    </figure>
    {% endif %}
    {% endwith %}
    <div class="product-description">
    {% include "lms/include/product-description.html" %}
    </div>
    <div class="items-right-left">
        {% if card_type == "shopping-cart" %}
        <label onclick="kill_product_in_scart('{{product.article}}', '{{product.title}}', {{size.id}}, '{{size.size}}');">{{x_cross_ring}}</label>
        {% elif card_type == "favorites" %}
        <label onclick="pcard_like_click({checked: false}, '{% url 'api:set_product_like' ppk=product.article like=0 %}');">{{x_cross_ring}}</label>
        {% endif %}
    </div>
    {% if card_type == "shopping-cart" %}
    <div class="price-line items-left-right">
        <div class="hand" onclick="show_product_details('{% url 'lms:product_details' slug=product.slug %}');">{{product.actual_price.amount|floatformat:0}}&nbsp;{{param_label_currency}}</div>
        <div class="inline-items-right-left mla">{% if quantity < size.quantity %}
            <div class="hand gray" onclick="product_to_scart('{{product.article}}', {{size.id}}, 1);">&nbsp;{{plus_ring}}</div>{% endif %}
            <div>{{quantity}}</div>{% if quantity > 1 %}
            <div class="hand gray" onclick="product_to_scart('{{product.article}}', {{size.id}}, -1);">{{minus_ring}}&nbsp;</div>{% endif %}
        </div>
    </div>
    {% endif %}
</div>